---
const { paths } = Astro.props
---


<nav aria-label="breadcrumb" class="d-none d-md-block">
  <ol class="breadcrumb">
    {
      paths.map(path => {
        if (path.href) {
          return <li class="breadcrumb-item"><a href={path.href}>{path.title}</a></li>
        } else {
          return <li class="breadcrumb-item active" aria-current="page">{path.title}</li>
        }
      })
    }
  </ol>
</nav>