---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro"
import ProductsList from '../../components/ProductsList.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import CategoryList from '../../components/CategoryList.astro';

const products = await getCollection('product')
const title = "Tüm ürünler"
const paths = [
  { href: "/", title: "Anasayfa" },
  { title }
]
---

<Layout title={title}>
  <Breadcrumb paths={paths} />

  <div class="row mt-md-5">
    <div class="col-12 col-md-3">
      <CategoryList />
    </div>

    <div class="col-12 col-md-9 mt-xs-5 mt-md-0">
      <ProductsList products={products} title={title} />
    </div>
  </div>
</Layout>